 .formulario {
            width: 800px;
            margin: 0px auto;
            background-color: #0b0b0b;
            border-radius: 10px;
            padding: 10px;
            margin-right: 400px;
            color: white !important;
        }

        body {
            background-color: black;
        }
        .nav{
            background-color: #0b0b0b;
            text-decoration: none;
            color: white;
            
        }

        #sidebar {
            
            background-color: #0b0b0b;
            margin-bottom: -1080px;
            /* any large number will do */
            padding-bottom: 1080px;
        }

        .nav-link {
            color: silver;
        }

        .nav-link .active {
            color: white;
        }

        .navbar-brand {
            text-indent: 1em;
        }

        .container-fluid {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }


        hr{
            color: white;
        }


        @media only screen and (max-width: 1366px) {
            .formulario {
                width: 800px;
                margin: 0px auto;
                background-color: #0b0b0b;
                border-radius: 10px;
                padding: 10px;
                margin-right: 150px;
                color: white;
            }

            #sidebar {
                margin-bottom: -947px; 
                /* any large number will do */
                padding-bottom: 947px;
            }


        }