<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Login</h1>
    <a href="/teste/">Teste</a>
    <form action="submit" method="POST"> {% csrf_token %}
        <div align="center">
            <br>
            <label>Usuário:</label>
            <input type="text" placeholder="Nome de Usuário" name="username">
            <br>
            <label>Senha:</label>
            <input type="password" placeholder="Senha" name="password">
            <br>
            <button type="submit">Entrar</button>
        </div>
</form>

</body>
</html>