<nav class="navbar navbar-expand-lg nav navbar-dark ">
    <a class="navbar-brand">Sistema de Academia</a>
</nav>

<nav class="col-md-2 d-none d-md-block sidebar h-100" id="sidebar">
    <div class="siderbar-sticky navbar-nav p-2">
        {% if current_user.permissao != 'aluno' %}
        <a class="nav-item nav-link" href="/cadastro_aluno/">Cadastrar Aluno</a>
        <a class="nav-item nav-link" href="/consulta_aluno/">Consultar Aluno</a>
        <a class="nav-item nav-link" href="/exercicios/">Exercicios</a>
        <hr>
        {% endif %}
        {%if current_user.permissao == 'aluno' %}
        <a class="nav-item nav-link" href="/consulta_aluno/{{current_user.id}}">Página do aluno</a>
        {% endif %}
        {% if current_user.permissao == 'admin' %}
        <a class="nav-item nav-link" href="/gerenciar_professores/">Gerenciar Professores</a>
        <a class="nav-item nav-link" href="/gerenciar_admin/">Gerenciar Admin</a>
        <hr>
        {% endif %}
        <a class="nav-item nav-link" href="/logout">Fazer Logout</a>
    </div>
</nav>